[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit read.me 
Type=Link
URL=https://github.com/dl6dbh/openplotter-esp-gps/issues/2
Icon=mate-fs-bookmark
